@page
@model WizardingWorld.Pages.Party.CurrenciesPage
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using WizardingWorld.Pages
@using WizardingWorld.Pages.Extensions
@{
    Layout="_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> @Html.TabHider(nameof(Model.Item.Code)) </th>   
            <th> @Html.TabHider(nameof(Model.Item.EnglishName)) </th> 
            <th> @Html.TabHider(nameof(Model.Item.NativeName)) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Code) </td>
            <td> @Html.DisplayFor(modelItem => item.EnglishName) </td>
            <td> @Html.DisplayFor(modelItem => item.NativeName) </td>
            <td> @Html.ItemButtons(item.ID) </td>
        </tr>
}
    </tbody>
</table>
</body>
