@page
@model WizardingWorld.Pages.Party.CharactersPage

@{
    Layout="_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.FirstName))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.FirstName)</a>
             </th>   
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.LastName))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.LastName)</a>
             </th> 
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Gender))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Gender)</a>
             </th> 
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.DoB))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.DoB)</a>
             </th> 
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.HogwartsHouse))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.HogwartsHouse)</a>
             </th> 
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Organisation))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Organisation)</a>
             </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.FirstName) </td>
            <td> @Html.DisplayFor(modelItem => item.LastName) </td>
            <td> @Html.DisplayFor(modelItem => item.Gender) </td>
            <td> @Html.DisplayFor(modelItem => item.DoB) </td>
            <td> @Html.DisplayFor(modelItem => item.HogwartsHouse) </td>
            <td> @Html.DisplayFor(modelItem => item.Organisation) </td>
            <td>
                <a asp-page="./Edit" 
                   asp-page-handler="Edit" 
                   asp-route-id="@item.ID"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Edit</a>&nbsp; 
                <a asp-page="./Details" 
                   asp-page-handler="Details" 
                   asp-route-id="@item.ID"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Details</a>&nbsp; 
                <a asp-page="./Delete" 
                   asp-page-handler="Delete" 
                   asp-route-id="@item.ID"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Delete</a>&nbsp;
            </td>
        </tr>
}
    </tbody>
</table>
</body>
