@page
@model WizardingWorld.Pages.Party.CharactersPage
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using WizardingWorld.Pages
@using WizardingWorld.Pages.Extensions

@{
    Layout="_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> @Html.TabHider(nameof(Model.Item.FirstName)) </th>   
            <th> @Html.TabHider(nameof(Model.Item.LastName)) </th> 
            <th> @Html.TabHider(nameof(Model.Item.Gender)) </th> 
            <th> @Html.TabHider(nameof(Model.Item.DoB)) </th> 
            <th> @Html.TabHider(nameof(Model.Item.HogwartsHouse)) </th> 
            <th> @Html.TabHider(nameof(Model.Item.Organisation)) </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.FirstName) </td>
            <td> @Html.DisplayFor(modelItem => item.LastName) </td>
            <td> @Html.DisplayFor(modelItem => item.Gender) </td>
            <td> @Html.DisplayFor(modelItem => item.DoB) </td>
            <td> @Html.DisplayFor(modelItem => item.HogwartsHouse) </td>
            <td> @Html.DisplayFor(modelItem => item.Organisation) </td>
            <td> @Html.ItemButtons(item.ID) </td>
        </tr>
}
    </tbody>
</table>
</body>
