@page
@model WizardingWorld.Pages.Party.SpellsPage

@{
    Layout="_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.SpellName))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.SpellName)</a>
             </th> 
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Description))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Description)</a>
             </th> 
             <th> 
                <a asp-page="./Index" 
                   asp-page-handler="Index" 
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Type))"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Type)</a>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.SpellName) </td>
            <td> @Html.DisplayFor(modelItem => item.Description) </td>
            <td> @Html.DisplayFor(modelItem => item.Type) </td>
            <td>
                <a asp-page="./Edit" 
                   asp-page-handler="Edit" 
                   asp-route-id="@item.ID"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Edit</a>&nbsp; 
                <a asp-page="./Details" 
                   asp-page-handler="Details" 
                   asp-route-id="@item.ID"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Details</a>&nbsp; 
                <a asp-page="./Delete" 
                   asp-page-handler="Delete" 
                   asp-route-id="@item.ID"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@Model.PageIndex" 
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Delete</a>&nbsp;
            </td>
        </tr>
}
    </tbody>
</table>
</body>
