@page
@model WizardingWorld.Pages.Party.SpellsPage
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using WizardingWorld.Pages
@using WizardingWorld.Pages.Extensions
@{
    Layout="_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> @Html.TabHider(nameof(Model.Item.SpellName)) </th>   
            <th> @Html.TabHider(nameof(Model.Item.Description)) </th> 
            <th> @Html.TabHider(nameof(Model.Item.Type)) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.SpellName) </td>
            <td> @Html.DisplayFor(modelItem => item.Description) </td>
            <td> @Html.DisplayFor(modelItem => item.Type) </td>
            <td> @Html.ItemButtons(item.ID) </td>
        </tr>
}
    </tbody>
</table>
</body>
